##
## next.js build output
##
.next

##
## Environment files
##
.env
.env.build
next-env.d.ts
.env.local

##
## Dependency directories
##
node_modules/

##
## Logs
##
npm-debug.log*

##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

##
## macOS files
##
.DS_Store

