.container {
    box-shadow: inset 0px 90px 40px -100px var(--ion-color-primary);
    background-color: var(--background-color);
    min-height: calc(100% - var(--header-height));
}

@media screen and (min-width: 480px) {
    .container {
        display: grid;

        grid-template:
            ". content ." auto
            / 1fr 430px 1fr
        ;
    }
}

@media screen and (min-width: 769px) {
    .container {
        grid-template:
            ". content ." auto
            / 1fr 669px 1fr
        ;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template:
            ". content ." auto
            / 1fr 924px 1fr
        ;
    }
}

.content {
    grid-area: content;
}