html {
  overflow: hidden auto;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GT-America-Standard";
  src: url("/fonts/GT-America-Standard-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GT-America-Standard";
  src: url("/fonts/GT-America-Standard-Medium.woff2");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "LyonDisplay";
  src: url("/fonts/LyonDisplay-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LyonDisplay";
  src: url("/fonts/LyonDisplay-Medium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Black.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Book.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("/fonts/Jura-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Barrio";
  src: url("/fonts/Barrio-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "KellySlab";
  src: url("/fonts/KellySlab-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gluten";
  src: url("/fonts/Gluten-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-VariableFont_wght.ttf");
  font-display: swap;
}
