.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeToContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.welcomeTo {
  width: 400px;
}
