.plansRootContainer {
  height: var(--viewport-minus-header);
  background-color: var(--background-color);
  display: grid;
  grid-template: 
  ". steps ." auto
  ". header ." auto
  ". paymentOptions ." auto
  ". options ." auto
  ". navigation ." auto
  ". . ." 1fr
  
  / 1fr auto 1fr;
}

.steps {
  grid-area: steps;
}

.header {
  grid-area: header;
}

.paymentOptions {
  grid-area: paymentOptions;
}

.options {
  grid-area: options;
}

.navigation {
  grid-area: navigation;
}