:root {
  /* Variables */
  --primary-color: #0176d5;
  --secondary-color: #0176d5;
  --header-color: #faf3ee;
  --background-color: #f1f1f1;
  --background-color-rgb: 253, 249, 247;
  --background-color-darker: #faf3ee;
  --background-color-darker-rgb: 250, 243, 238;
  --background-color-brighter: #fdf9f7;
  --background-color-brighter-rgb: 253, 249, 247;
  --footer-color: #3e3e3e;
  --text-color: #292929;
  --text-color-accent: #ff8383;
  --skeleton-color: #e1d1c5;
  --color-green: #01c281;
  --color-green-darker: #02a16c;
  --color-green-lighter: #00e196;
  --yellow-lemon: #ffe89c;
  --yellow-darker: #ffda79;
  --yellow-lemon-rgb: 255, 232, 156;
  --yellow-lemon-darker: #fadf87;
  --black-absolute: #000000;
  --white-absolute: #ffffff;
  --dark-hover: #3d3d3d;
  --disabled: #dddddd;

  /* Ionic Theme */
  --ion-color-primary: #447eff;
  --ion-color-primary-rgb: 68, 126, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3c6fe0;
  --ion-color-primary-tint: #578bff;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #ff8383;
  --ion-color-tertiary-rgb: 255, 131, 131;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e07373;
  --ion-color-tertiary-tint: #ff8f8f;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #292929;
  --ion-color-dark-rgb: 41, 41, 41;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #242424;
  --ion-color-dark-tint: #3e3e3e;

  --ion-color-medium: #d9d9d9;
  --ion-color-medium-rgb: 217, 217, 217;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #bfbfbf;
  --ion-color-medium-tint: #dddddd;

  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables go here */
  }
}

/* Fallback for older browsers or manual mode */
body .dark {
  /* Dark mode variables go here */
}
