:root {
  --header-height: 72px;
  --header-box-shadow-padding: 35px;
  --header-plus-box-shadow-padding: calc(
    var(--header-height) + var(--header-box-shadow-padding)
  );

  --main-section-width-sm: 430px;
  --main-section-width-md: 669px;
  --main-section-width-lg: 1224px;
}
